@model Feed

@if (!Model.Id.HasValue || Model.Id == 0)
{
    <h2><center> Add Feed </center></h2>
}
else
{
    <h2><center> Edit Feed </center></h2>

}


<hr />
<div class="row">
    <div class="col-md-12">
        @*@using(Html.BeginForm("save", "Feed",FormMethod.Post)){*@
        <form action="~/Feed/Save" method="post">


            <div id="Id">
                <div class="form-group">
                    @Html.DisplayNameFor(x=>x.Id)<br>
                    @Html.TextBoxFor(X=>X.Id, "", new {@disabled="disabled"})
                    @Html.HiddenFor(X=>X.Id)
                </div>
            </div>

            <div id="TextData">
                <div class="form-group">

                    @Html.DisplayNameFor(x=>x.TextData)<br>
                    @Html.TextBoxFor(X=>X.TextData) <br />

                    @Html.ValidationMessageFor(x=>x.TextData, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="Heading">
                <div class="form-group">

                    @Html.DisplayNameFor(x=>x.Heading)<br>
                    @Html.TextBoxFor(X=>X.Heading) <br />

                    @Html.ValidationMessageFor(x=>x.Heading, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="ShortNotes">
                <div class="form-group">

                    @Html.DisplayNameFor(x=>x.ShortNotes)<br>
                    @Html.TextBoxFor(X=>X.ShortNotes) <br />

                    @Html.ValidationMessageFor(x=>x.ShortNotes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="FeedTypeId">
                <div class="form-group">

                    @Html.DisplayNameFor(x=>x.FeedTypeId)<br>
                    @Html.TextBoxFor(X=>X.FeedTypeId) <br />

                    @Html.ValidationMessageFor(x=>x.FeedTypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="Link">
                <div class="form-group">

                    @Html.DisplayNameFor(x=>x.Link)<br>
                    @Html.TextBoxFor(X=>X.Link) <br />

                    @Html.ValidationMessageFor(x=>x.Link, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="UserName">
                <div class="form-group">

                    @Html.DisplayNameFor(x=>x.UserName)<br>
                    @Html.TextBoxFor(X=>X.UserName) <br />

                    @Html.ValidationMessageFor(x=>x.UserName, "", new { @class = "text-danger" })
                </div>
            </div>


            <button type="submit">Save</button>

            @Html.ActionLink("Go to List", "Index")
        </form>
        @*}*@

    </div>
</div>