@model IEnumerable<HREntity.FeedType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    var feedTypeModel = ViewBag.Model as FeedTypeModel;
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form action="~/FeedType/Index" method="post">
 
<div class="row">
<div class="col-6">
<div class="form-group">
<lable for="Id">Id:</lable>
<input type="text" class="form-control" value="@feedTypeModel.IdSearch"  name="IdSearch" id="IdSearch"/>

</div>

</div>
<div class="col-6">
<div class="form-group">
<lable for="Name">Name</lable>
<input type="text" class="form-control" value="@feedTypeModel.TypeTextSearch"  name="TypeTextSearch" id="NameSearch"/>

</div>

</div>
</div>

<input type="hidden" name="OrderBy" id="orderBy" value="@feedTypeModel.OrderBy" />
<input type="hidden" name="ColumnName" id="columnName" value="@feedTypeModel.ColumnName" />
 
<button type="submit"  id="btnsub">Search</button>

</form>
  

 

<div class="container">
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr> 
             <th>
              <a onclick="sort('@feedTypeModel.ColumnName', '@feedTypeModel.OrderBy')"> @Html.DisplayNameFor(model => model.Id)</a>
            </th>
            <th>
                <a onclick="sort('@feedTypeModel.ColumnName', '@feedTypeModel.OrderBy')"> @Html.DisplayNameFor(model => model.TypeText)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeText)
            </td>
            <td>
                 <a href="~/Users/Edit/@item.Id"> <button type="button" class="btn btn-warning">Edit</button> </a>
                  <a href="~/FeedType/Delete/@item.Id">
                 <button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>


<script >


function sort(columnName,orderBy){
     event.preventDefault();
    if(orderBy=='asc'){
        orderBy='desc';
    } else {
        orderBy='asc';
    }
document.querySelector("#orderBy").value=orderBy;
document.querySelector("#columnName").value=columnName;

document.querySelector("#btnsub").click();

}
</script>
